# Arquivos Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Ambiente virtual
venv/
ENV/

# Arquivos de teste
.pytest_cache/
.coverage
htmlcov/

# Arquivos gerados
*.pdf
*.log

# Arquivos do Pulumi
Pulumi.*.yaml
.pulumi/

# Node modules
node_modules/

# Outros
.DS_Store
.idea/
.vscode/
*.swp
*.swo
